
html {
  font-family:'Oxygen';
  background-image: url(../images/background.png);
  min-width:600px;
}

.logo {
  color: #3300CC;
  font-size: 25px;

}

header{
  background-color: white;
  padding: 5px 20px;
  border-bottom: 1px solid #848484;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.tagline {
  position: absolute;
  right: 20px;
  top: 20px;
}


.herotext {
  background-color: white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 45px;
  border: 1px solid #C7C7C7;
  border-radius: 9px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  text-align: center;
  max-width: 600px;

}

table {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  min-width: 500px;
  border: 1px solid #C7C7C7;
  border-radius: 9px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);


}

td img {
  width: 50%;
  height: 50%;
}

td {
  font-size: 20px;
}

.positive {
  border-right: 1px dashed black;
  padding: 50px;
  vertical-align: middle;
  text-align: center;
}

.negative {
  padding: 50px;
  vertical-align: middle;
  text-align: center;
  borde
}

footer {
  color: grey;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  margin-top: 30px;
}
